
body {
    height: 100vh;
    width: 100%;
}

.jumbotron.jumbotron-fluid{
    background-image: url("/assets/images/cmyk_background.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 100%;
    padding-bottom: 1rem;
}


.jumbotron .display-4 {
    padding: 5rem;
    font-size: 5rem;
    color: #0c94e3;
    font-weight: bold;
    font-style: italic;
}

.jumbotron .lead {
    padding-top: 15rem;
    padding-right: 2rem;
    margin-top: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.card-container .card{
    flex: 0 1 calc(25% - 1em);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card-container .card-img-top{
width: 100%;
height: 50vh;
object-fit: contain;
}

.card-title {
    margin-top: 0 auto;
    display: block;
}

.card-container .btn{
    margin-top: 0 auto;
    margin-bottom: 1rem;
    display: block;
}